# eclipse
bin/
.classpath
.project
.settings
*.launch
.externalToolBuilders/


# intellij
.idea/
*.ipr
*.iml
*.iws

# java
*.class

# gradle
build/
.gradle

# package files
*.jar
*.war
*.ear

# other
*.swp
*.log
*.bak
*.out
*.lock

#mapdb
*.db.t
*.db.p

